name: Deploy to Production

on:
  workflow_run:
    workflows: ["Deploy to Staging"]
    types:
      - completed

env:
  ACR_LOGIN_SERVER: alattar-hygkehhmfvekb0fy.azurecr.io
  CONTAINER_APP_NAME: ca-cloudmediahub-api-prod
  RESOURCE_GROUP: rg-cloudmediahub-prod

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact from staging
        uses: actions/download-artifact@v4
        with:
          name: staging-image-tag
          run-id: ${{ github.event.workflow_run.id }}

      - name: Read image tag
        id: read_tag
        run: |
          IMAGE_TAG=$(cat image_tag.txt)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Production
        run: |
          az containerapp update \
            --name $CONTAINER_APP_NAME \
            --resource-group $RESOURCE_GROUP \
            --image $ACR_LOGIN_SERVER/cloudmediahub-api:$IMAGE_TAG