name: Deploy to Production

on:
  workflow_dispatch:

env:
  ACR_LOGIN_SERVER: alattar-hygkehhmfvekb0fy.azurecr.io
  CONTAINER_APP_NAME: ca-cloudmediahub-api-prod
  RESOURCE_GROUP: rg-cloudmediahub-prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Production
        run: |
          az containerapp update \
            --name $CONTAINER_APP_NAME \
            --resource-group $RESOURCE_GROUP \
            --image $ACR_LOGIN_SERVER/cloudmediahub-api:staging-latest